body{
background: #85b0c9;
}

#container{
  background: #6da2a9 !important;
  width: 60%;
  padding-bottom: 200px;
  border-radius: 10px;
  margin: 0 auto;
  padding: 1%;
}


h3{
  color: #6da2a9;
}

.box{
  background: #9fcbd2;
  border-radius: 30px;
  padding: 1%;
}
.box input{
  width: 90%;
  border: 2px solid white;
  border-radius: 20px;
  height: 25px;
  margin-bottom: 8px;
}

.box button{
  background: #fbe783;
  border: 2px solid #fbe783;
  width: 30%;
  border-radius: 10px;
  height: 25px;
  color: #6da2a9;
  font-weight: bold;
}

p{
  color: white;
  margin-bottom:10px;
  bottom: 10px;
}

.contador{
  color: #a0ccd3;
  font-weight: bold;
}

ul{
  list-style: none;
  background: #3243e0c2;
}

.user{
 float: left;
}


.name{
  color: white;
  border-bottom: 1px solid white;
  text-transform: uppercase;
}
.list{
  margin-bottom: 15px;
  
}
.list button{
  background: transparent;
  border:none;
}
a{
  margin-right: 12px;
  color: #a0ccd3;
}

/* img{
  margin-left: 18px;
} */
